<div class="row">
  <div class="col-lg-3">
    <%= render 'shared/links' %>
  </div>

  <div class="col-lg-6 well">
    <h3>Find Friends</h3>
    <div class="row">
      <%= form_tag find_friends_path, :method => 'get', class: 'input-group', style: 'padding-left: 3%'  do %>
          <%= text_field_tag :search, params[:search], class: 'form-control', style: "width: 90%", placeholder: 'Search for...' %>
          <span class="input-group-btn">
      <%= submit_tag "search", class: "btn btn-default" %>
    </span>
      <% end %>
    </div>
    <hr>
    <div id="users">
      <%= render(@users) || render('shared/no_resource', resources: 'Users') %>
    </div>
    <%= render 'shared/paginate', resources: @users %>
  </div>
  <div class="col-lg-3">
    <%= render 'shared/user_info' %>

  </div>
</div>2